testBack/node_modules/
test/node_modules/

test/build

test/.DS_Store
test/.env.local
test/.env.development.local
test/.env.test.local
test/.env.production.local
test/.env

test/npm-debug.log*
test/yarn-debug.log*
test/yarn-error.log*

testBack/.DS_Store
testBack/.env.local
testBack/.env.development.local
testBack/.env.test.local
testBack/.env.production.local
testBack/.env
testBack/files

testBack/npm-debug.log*
testBack/yarn-debug.log*
testBack/yarn-error.log*

